
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 10px;
    flex: 1 1 0;
    background-color: #0c2017;
    
}

.container {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
}

header {
    background-size: cover;
}

.header.a {
    font-size: 18px;
    color: #E5E7EB;
}

.header.hlogo {
    font-size: 24px;
    color: #F9FAF8;
}


.section.hero {
    height: auto;
    justify-content: center;

}

.hero {
    display: flex;
    flex-wrap: nowrap;
    height: 50vh;
    width: 100%;
    padding: 20px;
    background-size: cover;
    text-align: center;
    color: #F9FAF8;
    align-items: center;
}
.hero.inlineb {
    
}
.hero.h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero.ptext {
    font-size: 18px;
    color: #E5E7EB;
}

button.signup {
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #3882F6;
    margin: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 2px #999;
}

button:hover {
    background-color: #E5E7EB;
}

button:active {
    background-color: darkslategray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}