body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 10px;
    flex: 1;
}

.header.a {
    font-size: 18px;
    color: #E5E7EB;
}

.header.hlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    height: 50vh;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    background-size: cover;
    text-align:center;
    color: #F9FAF8;
}
.hero.inlineb {
    display: inline-block;
}
.hero.h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero.ptext {
    font-size: 18px;
    color: #E5E7EB;
}